# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/test 
src/.clang-format
src/report
src/gcov_report
src/*.gcno
src/*.gcda
src/*.info
src/*CPPLINT.cfg
src/qt_gui/CMakeCache.txt
src/qt_gui/CMakeFiles
src/qt_gui/Makefile
src/qt_gui/cmake_install.cmake
src/qt_gui/CMakeLists.txt.user
src/qt_gui/.qt
src/qt_gui/qt_gui
src/qt_gui/qt_gui.app
src/build-qt_gui*
src/qt_gui/qt_gui_autogen
src/qt_gui/qt_gui.app
src/settings
src/non_existing_file
src/test